@charset "UTF-8";

.p-footer p {
  text-align: center;
  color: #ffffff;
  padding-top: 3.9rem;
}

.p-footer a {
  text-decoration: none;
  color: #ffffff;
}

.p-footer__link {
  font-family: "M+1m", sans-serif;
  font-size: 2rem;
}

.p-footer__cr {
  font-family: "M+1m", sans-serif;
  font-size: 1.4rem;
  padding-top: 3.4rem;
}
